[submodule "taproot"]
	path = taproot
	url = https://gitlab.com/aruw/controls/taproot.git
[submodule "taproot-scripts"]
	path = taproot-scripts
	url = https://gitlab.com/aruw/controls/taproot-scripts.git
[submodule "fang-mcb-project/lib/RAIL-Robomaster-Abstraction-Interface-Library"]
	path = fang-mcb-project/lib/RAIL-Robomaster-Abstraction-Interface-Library
	url = https://github.com/RavenRandomz/RAIL-Robomaster-Abstraction-Interface-Library.git
